{#
/**
 * @file
 * Default theme implementation to display an item in a views FIA (facebook instant articles) feed.
 *
 * Available variables:
 * - header_title: RSS item title.
 * - header_subtitle: RSS item subtitle.
 * - header_kicker : teaser short text for the article
 * - header_created : created datetime
 * - header_modified : modified datetime
 * - header_link: RSS item link.
 * - header_figure: a full html markup for a header image (syntax below)
 * - header_authors : htmls <address> tags for article authors (syntax below)
 *
 * - content : HTML content for the article
 *
 * - footer : HTML content for the article footer
 *
 * The syntax for the figure allows:
 *   <figure>
 *       <img src="http://mydomain.com/path/to/img.jpg" />
 *       <figcaption>This image is amazing</figcaption>
 *   </figure>
 *
 * The Syntac for the author <address>:
 *      <address>
 *       <a rel="facebook" href="http://facebook.com/brandon.diamond">Brandon Diamond</a>
 *       Brandon is a avid zombie hunter.
 *     </address>
 *     <address>
 *       <a>TR Vishwanath</a>
 *       Vish is a scholar and a gentleman.
 *     </address>
 *
 * @see template_preprocess_views_view_row_rss()
 *
 * @ingroup themeable
 */
#}
<article>
  <header>
    <!-- The title and subtitle shown in your Instant Article -->
    <h1>{{ header_article }}</h1>
    {% if header_subtitle -%}
      <h2>{{ header_subtitle }}</h2>
    {% endif %}

    <!-- The date and time when your article was originally published datetime="2014-11-11T04:44:16Z">November 11th, 4:44 PM -->
    <time class="op-published" datetime="{{ header_created|date("Y-d-m\TH:i:s\Z") }}">{{ header_created|date("F jS, g:i A") }}</time>
    <!-- The date and time when your article was last updated -->
    <time class="op-modified" datetime="{{ header_modified|date("Y-d-m\TH:i:s\Z") }}">{{ header_modified|date("F jS, g:i A") }}</time>

    <!-- A kicker for your article -->
    {% if kicker -%}
      <h3 class="op-kicker">{{ kicker }}</h3>
    {% endif %}

    <!-- The cover image shown inside your article -->
    {% if header_figure -%}
     {{ header_figure }}
    {% endif %}

    <!-- The authors of your article -->
    {% if header_authors -%}
      {{ header_authors }}
    {% endif %}

  </header>

  {{ content }}

  {% if footer -%}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

</article>